a {
    color: #ffffff; 
    text-decoration: none; 
}

a:hover {
    color: #ff0000;
    text-decoration: underline; 
}
main {
    padding: 0.5rem;
}

nav {
    padding: 1rem;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}